/* Global Box-sizing rule */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav{
    background-color: #282828;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem;
    >button{
        background:none;
        border:none;
        >svg{
            width:2.5rem;
            height:2.5rem;
        }
    }
}

.navcenter{
    >img{
        width:8rem;
    }
}

.alert{
    background-color:#ea1d2b;
    color:white;
    font-weight: 700;
}