@use "../utilities" as *;

/**----------------------------------------
START: Sidebar CSS
----------------------------------------*/
.sidebar_wrapper {
	position: fixed;
	z-index: 99999;
	right: 0;
	top: 0;
	height: 100%;
	width: 0;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 0;
	visibility: hidden;
	@include transition(all ease 0.8s);

	&.show {
		opacity: 1;
		visibility: visible;
		width: 100%;
		@include transition(all ease 0.8s);

		.sidebar_content {
			right: 0;
			opacity: 1;
			visibility: visible;
		}
	}
	.sidebar_content {
		background-color: var(--ts-color-theme-bg);
		background-image: url(../images/bg/global-bg.png);
		background-repeat: repeat;
		width: 450px;
		max-width: 100%;
		margin-left: auto;
		padding: 80px 30px;
		height: 100%;
		overflow: scroll;
		position: relative;
		right: -500px;
		transition-delay: 1s;
		@include transition(right ease 1s);

		.close_button {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border: 2px solid;
			width: 50px;
			height: 50px;
			line-height: 1;
			font-size: 24px;
			padding: 0;
			position: absolute;
			top: 20px;
			right: 20px;
			background-color: var(--ts-color-common-white);
			border-radius: 50%;
			@include transform(rotate(0));
			@include transition(all ease 0.4s);

			i {
				display: inline-flex;
				line-height: 1;
				transition: none;
			}

			&:hover {
				border-color: var(--ts-color-theme-primary);
				@include transform(rotate(90deg));

				i {
					color: var(--ts-color-theme-primary);
				}
			}
		}

		.sidebar_content_box {
			margin-bottom: 40px;
			position: relative;

			.sidebar_logo {
				margin-bottom: 35px;
				.logo {
					display: inline-block;
					max-width: 185px;
					width: 100%;
				}
			}
			.desc {
				margin-bottom: 30px;
				max-width: 340px;
				width: 100%;

				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.widget_title {
				position: relative;
				line-height: 1;
				text-transform: uppercase;
				padding-bottom: 20px;
				margin: 0 0 30px 0;

				&::after,
				&::before {
					content: "";
					height: 3px;
					width: 100%;
					background-color: var(--ts-color-border-1);
					position: absolute;
					bottom: 0;
					left: 0;
				}
				&::after {
					background-color: var(--ts-color-theme-primary);
					width: 40px;
				}
			}

			.contact_info {
				max-width: 280px;
			}

			.newsletter {
				max-width: 340px;

				.text {
					margin-bottom: 25px;
				}
			}
		}

		@media #{$xs} {
			max-width: 330px;
			padding: 80px 20px;

			.close_button {
				width: 45px;
				height: 45px;
			}
		}
	}
}

/* !END: Sidebar CSS */
