@use "../utilities" as *;

/**----------------------------------------
START: Contact CSS
----------------------------------------*/
.contact-section {
	padding-top: 120px;
	padding-bottom: 120px;

	@media #{$md} {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@media #{$sm, $xs} {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
.contact_content {
	.section_title {
		margin-bottom: 40px;
	}
}
.contact_form {
	.form_group {
		select,
		.nice-select,
		input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
		textarea {
			border: 1px solid var(--ts-color-border-1);
			background-color: var(--ts-color-common-white);
			border-radius: 5px;
			color: var(--ts-color-heading-primary);

			@include placeholder {
				color: var(--ts-color-grey-2);
			}

			&:focus {
				border-color: var(--ts-color-theme-primary);
			}
		}
	}
}
.contact_image {
	display: block;
	max-width: 495px;
	width: 100%;
	position: relative;
	z-index: 1;

	&::after {
		@include theme-afbf;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 70%;
		background-color: var(--ts-color-theme-secondary);
		clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
		z-index: -1;
		background-image: url(../images/bg/global-bg.png);
	}

	@media #{$md, $sm, $xs} {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
}
/* !END: Contact CSS */
